body{
    margin: 0;
    padding: 0;
    background-color: #101010;
}



.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.card {
   margin-top: 4rem;
    border-radius: 15px;
    padding: 20px;
    width: 20rem; 
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #0B0B0B;
    transition: transform 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    background-color: #191919;
}

.card h2 {
    font-size: 1.5em; 
    margin: 1em 0;
    font-weight: bold;
    color: #06DC06;
}

.card p {
    font-size: 1.2em; 
    color: white;
}

.imgMovie {
    max-width: 100%;
    height: 15em; 
    border-radius: 15px ;
} 

.icon{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    margin-left: 24vh;
    margin-top: 22vh;
}

.icons{
    font-size: 3rem;
    color: #06DC06;
}

header {
    height: 8vh;
    display: flex;
    align-items: center;
   
    background-color: transparent; 
    padding: 10px 20px; 
  }
  

  
  .critik {
    height: 9rem;
  }
   
  
  input {
    border: 1px solid #06DC06;
    border-radius: 4px;
    padding: 5px 10px; 
    outline: none; 
    background-color: transparent;
    color: white;
  }
  
  label.placeholder {
    color: #06DC06;
  }
  

  .header button {
    background-color: #06DC06;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 0 10px; 
    cursor: pointer; 
  }
  nav.nav{
      display: flex;
      margin: 20px;
  }
  
  nav.nav i {
      font-size: 23px;
      color: #06DC06;
  }
  
  .profil-list{
    position: absolute;
    margin-top: 1vh;
    margin-left: 160vh;
    display: flex;
    justify-content: spa;
    
  }

.profil{
    margin-left: 2vh;
  }
  
  .searchI{
      color: #06DC06;
      margin: 1vh;
  
/* Style de base */
.rating {
    font-size: 18px;
    font-weight: bold;
}

/* Styles pour les différentes plages de notes */
.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

}


