
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
  margin: 0;
  padding: 0;
  background-color: #101010;
  font-family: 'Poppins', sans-serif;
}

.pop-up-container{
  width: 45vh;
  height: 35vh;
  border-radius: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  background-color: #101010;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 2vh;
  color: white;
  position: absolute;
  top: 35%;
  left: 38%;
  visibility: hidden;
}

.cookiepng{
  height: 6rem;
  
}

.accept{
  background-color: #06dc06;
  color: white;
  border: 2px solid #06dc06;
  border-radius: 5px;
  font-size: 2rem;
  margin-right: 2vh;
}

.reject{
  background-color: transparent;
  border: 2px solid #06dc06;
  border-radius: 8px;
  font-size: 2rem;
  color: #06dc06;
}
/* Styles de base du header */
header {
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 10px 20px;
}

.critik {
  height: 9rem;
}

.header button {
  background-color: #06dc06;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
}

input {
  border: 1px solid #06dc06;
  border-radius: 4px;
  padding: 5px 10px;
  outline: none;
  background-color: transparent;
  color: white;
  height: 22px;
}

.btn-search {
  background-color: #06dc06;
  border: none;
  border-radius: 15px;
  margin-left: 15px;
  color: white;
  margin-bottom: 0.5vh;
}

nav.nav {
  display: flex;
  margin: 20px;
}

nav.nav i {
  font-size: 23px;
  color: #06dc06;
}

.profil-list {
  margin-top: 1vh;
  margin-left: 120vh;
  display: flex;
  justify-content: space-between;
}

.profil {
  margin-left: 2vh;
}

.searchI {
  color: #06dc06;
  margin-top: 0.5vh;
  margin-right: 15px;
}

/* Styles pour écrans plus petits (par exemple, mobile) */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header button {
    margin: 10px 0;
  }

  .profil-list {
    position: relative;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profil {
    margin: 10px 0;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.card {
  margin-top: 4rem;
  border-radius: 15px;
  padding: 20px;
  width: 20rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #0b0b0b;
  transition: transform 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  background-color: #191919;
}

.card h2 {
  font-size: 1.5em;
  margin: 1em 0;
  font-weight: bold;
  color: #06dc06;
}

.card p {
  font-size: 1.2em;
  color: white;
}

.imgMovie {
  max-width: 100%;
  height: 15em;
  border-radius: 15px;
}

.icons-plus {
  font-size: 3rem;
  color: #06dc06;
  position: absolute;
  margin-left: 15vh;
  margin-top: 22vh;
}

  /* Style de base */
  .rating {
    font-size: 18px;
    font-weight: bold;
  }

  /* Styles pour les différentes plages de notes */
  .red {
    color: red;
  }

  .orange {
    color: orange;
  }

  .green {
    color: green;
  }

